* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(184, 157, 157);
}
.row h2{
  color: #031c4e;
  padding-bottom: 10px;
  font-weight: bold;
 }
  /* tipografy */
  h1 {
    font-size: 55px;
  }
  p{
      font-size: 20px;
  }
  .font_size_35{
    font-size: 35px;
  }
  .font_size_18{
    font-size: 18px;
    
  }
  .font_size_25{
    font-size: 30px;
    
  }
  .text-center{
    text-align: center;
  }
  .text-underline:hover{
    text-decoration: underline;
  }
  /* text-color/ bg color / bold */
.ms_green {
    background-color: #1abc9c;
  }
  .text_tras_up{
    text-transform: uppercase;
  }
  .bold{
    font-weight: bold;
  }
  .ms_text_white {
    color: white;
  }
  .ms_text_black {
    color: black;
  }
  
  .ms_text_blue{
      color: #006aff;
  }
  .ms_text_darkblue{
    color: #031c4e;
  }
  .text_color-grey{
    color: #77797D;
  } 
   .bg_color_section{
    background-color: #f3f5f9;
  }
  .bg_color_blue{
    background-color:#579aff ;
  }
.width_100{
    max-width: 100%;
    }
    .width_80{
      width: 80%;
    }
  .width_50{
    width: 50%;
  }
  .width_40{
    width: 40%;
  }
  .width_25{
    width: 25%;
  } 
   .width_10{
    width: 10%;
  } 

  /* margini */
  .m_top_bottom_100{
    margin:100px 0 ;
  }
  .m_bottom_100{
    margin-bottom:100px ;
  }
  .m_top_bott_50{
    margin: 50px 0;
  }
  .m_top_bott_20{
    margin: 20px 0;
  }
  .m_top_bott_10{
    margin: 10px 0;
  }
  .m_top_bott_35{
    margin: 35px 0;
  }
  .m_top_bott_50{
    margin: 50px 0;
  }
  .m_top_10{
    margin-top: 15px;
  }
  .m_top_30{
    margin-top: 30px;
  }
  .m_top_50{
    margin-top: 50px;
  }
  .m_top_100{
    margin-top: 80px;
  }
  .m_bottom_30{
    margin-bottom: 30px;
  }
  .m_bottom_10{
    margin-bottom: 10px;
  }
  .m_top_20{
    margin-top: 20px;
  }
  .m_right_25{
    margin-right:25px ;
  }
  .m_right_20{
    margin-right:20px ;
  }
  .m_right_15{
    margin-right:15px ;
  }
  .m_right_10{
    margin-right:10px ;
  }
  .m_l-r_20{
    margin-right:20px;
    margin-left:20px ;
  }
  .m_l-r_30{
    margin-right:30px;
    margin-left:30px ;
  }
  .m_l-r_20_30{
    margin-right:28px;
    margin-left:20px ;
  }
  .m_left15{
    
    margin-left:15px ;
  }
  /* padding */
  .pd_l_20{
      padding-left: 20px;
    }
    .pd_T-b_30{
      padding:30px ;
    }
  .pd_B_100{
    padding-bottom: 100px;
  }
  .pd_B_50{
    padding-bottom: 50px;
  }
  .pd_B_30{
    padding-bottom: 30px;
  }
  .pd_B_10{
    padding-bottom: 10px;
  }
  .pd_B_5{
    padding-bottom: 20px;
  }
  .pd_20{
    padding: 20px 30px;
  }
  .pd_100_20{
      padding:100px 20px;
  }
  .pd_50{
    padding: 50px;
  }
  .pd_20{
    padding: 20px;
  }
  .pd_t_b_20{
    padding: 20px 0;
  }
  .pd_t_b_10{
    padding: 10px 0;
  }
  
  /* border */
  .border-radius{
  border-radius: 50%;
}
body{
  font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  
  overflow: hidden;
}
main {
  display: flex;
  height: calc(100% - 90px);
}
.main-playlist {
  flex-grow: 2;
  min-height: 200px;
  overflow-y: auto;
}

 ::-webkit-scrollbar{
   width: 10px;
 }

 ::-webkit-scrollbar-thumb{
   background-color: #8989898f;
   border-radius: 5px;
 }
.main-playlist li , .main-nav-footer a {
  padding: 5px 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.main-playlist li a {
    font-size: 15px;
    font-weight: bold;
}
.main-playlist ul:first-of-type li:hover {
  border-left: 3px solid #96DD29;
}
.main-playlist li:hover a , .main-nav-footer a:hover,.main-content .generi ul li a:hover{
  color: white;
}
.main-playlist li img{
  width: 13%;
  margin-right:10px ;
}
.main-playlist ul:nth-of-type(2) li:nth-of-type(2) a{
  font-size: 22px;
   display: flex; 
   align-items: center;
  
}
.main-nav-footer a:last-of-type img{
  background-color: #808080;
  border-radius: 49%;
  width: 12%;
}
.main-nav-footer hr {
  border: 1px solid grey;
  width: 80%;
  margin: 5px 20px;
}
.main-nav {
  width: 250px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content {
  width: calc(100% - 250px);
  height: 100%;
  padding-top: 90px;
  background-color: #141922;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  background-color:#080b12d3;
  width: calc(100% - 250px);
  height: 90px;
  line-height: 90px;
  text-align: right;
}
.call-to-action .btn {
  padding: 12px 30px;
  border-radius: 20px;
  border: 1px solid white;
}
.call-to-action a.btn {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}
.call-to-action a.btn:hover {
  font-size: 18px;
}
.main-content .generi {
  display: flex;
  justify-content: center;
  margin-top:30px ;
  height: 20px;
}
.main-content .generi ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


.main-content .generi ul li a{
  color:#7D7F84 ;
  font-weight: bold;

  font-size: 15px;
}
.main-content .generi ul li:hover::after{
  display: block;
  content : "";
  margin:  auto;
  width   : 32px;  /* or 100px */
  border-bottom:2px solid #ADFF2F;
}
.main-content .recently ul, .main-content .creato ul, .main-content .artisti ul {
  display: flex;
  flex-wrap: wrap;
}
.main-content .recently ul  li, .main-content .creato ul li,
.main-content .artisti ul li {
  min-width: 200px;
  width: calc(100%/6.5);
}
.main-content .recently ul  li .box-img img, 
.main-content .creato ul li .box-img img,
.main-content .artisti ul li .box-img img
{
   width: 100%;
}
.main-content .recently ul  li .box-img,
 .main-content .creato ul li .box-img,
 .main-content .artisti ul li .box-img {
 position: relative;
}

.main-content .recently ul li .over,
.main-content .creato ul li .over,
.main-content .artisti ul li .over
{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 25, 25, 0.445);
  visibility: hidden;
  cursor: pointer;
}
.main-content .recently ul li .box-img:hover .over,
.main-content .creato ul li .box-img:hover .over,
.main-content .artisti ul li .box-img:hover .over{
  visibility: visible;
  
}
.main-content .recently ul li .over i,
.main-content .creato ul li .box-img:hover .over i,
.main-content .artisti ul li .box-img:hover .over i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
}

.main-content .recently ul  li h3,
 .main-content .creato ul li h3,
 .main-content .artisti ul li h3{
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
.main-content .recently ul  li span,
.main-content .creato ul li span,
.main-content .artisti ul li span
{
  display: block;
  text-align: center;
  color:#77797D ;
  font-size: 15px;
  font-weight: bold;
}
.main-content .creato  span,
.main-content .artisti span {
  display: block;
  margin-top: 15px;
  margin-bottom:30px;
  color: #77797D;
  font-weight: bold;
}
footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom:0;
  left: 0;
  background-color: #282828;
 
}
footer #bar-player{
  width: 100%;
  height: 100%;
   display: flex;
  justify-content: space-between;
}
footer #bar-player .info-song,footer #bar-player .audio-tool{
  height: 100%;
  width: 20%;
  
  
  
}
footer #bar-player .info-song{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(221, 209, 209);
}
footer #bar-player .info-song .player-img{
  width: 20%;
}
footer #bar-player .info-song .player-img img{
  width: 100%;
}
footer #bar-player .info-song .information-song h3:hover,
.information-song span:hover, .icon a:hover,
#bar-player .audio-tool ul li:hover, 
.track-tool .tool-song .icon-tool ul li:hover {
  color: white;
}

footer #bar-player .track-tool{
  width: 60%;
  height: 100%;
 
}
#bar-player .track-tool .tool-song{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#bar-player .track-tool .tool-song .icon-tool {
  width: 100%;
  margin-bottom:10px ;
}


#bar-player .track-tool .tool-song .icon-tool ul{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: rgb(221, 209, 209);
}
#bar-player .track-tool .tool-song .track-bar ul{
  display: flex;
}

#bar-player .audio-tool ul {
  display: flex;
  
  align-items: center;
  height: 100%;
  color: rgb(221, 209, 209);
 justify-content: space-between;
}
  .bar-block{
    height: 5px;
    width: 50%;
    background-color: grey;
    margin: 0 10px;
    border-radius: 15px;
}
   .bar-block .bar-checked{
  height: 5px;
  width: 50%;
  background-color: white;
  border-radius: 15px;
}
.track-bar{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}




@media screen and (max-width:500px) {
   .xs-hidden{
     display: none;
   }
   .xs-m-right{
     margin-right:5px ;
   }
   .xs-m-right-left{
    margin: 0 10px;
  }
   .xs-font-size20{
     font-size: 25px;
   }
   .main-nav-header {
    background-image: url(../img/logo-small.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    margin-bottom:10% ;
  }
  .main-nav {
    width: 50px;
  }
  .main-content {
    width: calc(100% - 50px);
  }
  .call-to-action {
    width: calc(100% - 50px);
  }
  .main-playlist li {
   padding: 0;
   margin: 15px 0;
  }
  .main-playlist li img{
    width: 50%;
    margin: auto;
  }
  .main-nav-footer a{
    padding:0;
  }
  .main-nav-footer a img{
    width: 50%;
    margin:5px auto;
  }
  .main-nav-footer a:last-of-type img{
    width: 50%;
  }
  .call-to-action a.btn {
    font-size: 10px;
    margin-right:10px ;  
  }
  .call-to-action a.btn:hover{
    font-size: 12px;
  }
  .main-content .generi ul  {
    margin:0 10px;
}
#bar-player .audio-tool ul{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap ;
  
  
}
.information-song{
  font-size: 15px;
}

  .main-content .generi ul li a{
      font-size: 10px;   
  }
  .main-content .recently ul  li, .main-content .creato ul li,
.main-content .artisti ul li {
  min-width: 100px;
  margin-top: 10px;
  width: calc(100%/2.5);
}
.main-content .recently ul  li h3,
 .main-content .creato ul li h3,
 .main-content .artisti ul li h3{
  font-size: 15px;
 }
} 

@media screen and (max-height:350px) {
  .call-to-action{
    display: none;
  }
 
}


@media screen and (max-width:1200px) {
  .main-content .generi ul li {
  
  margin-right:15px ;
  margin-top: 5px;
}
}
